<div class="grid-container">

    <div class="grid-item" style="background-color: #2196F3"></div>
    <div class="grid-item" style="background-color: #2196F3"></div>
    <div class="grid-item" style="background-color: #2196F3"></div>
    <div class="grid-item" style="background-color: #2196F3"></div>
    <div class="grid-item" style="background-color: #2196F3"></div>
    <div class="grid-item" style="background-color: #2196F3"></div>
    <div class="grid-item" style="background-color: #2196F3"></div>
    <div class="grid-item" style="background-color: #2196F3"></div>
    <div class="grid-item" style="background-color: #2196F3"></div>
    <div class="grid-item" style="background-color: #2196F3"></div>
    <div class="grid-item" style="background-color: #2196F3"></div>
    <div class="grid-item" style="background-color: #2196F3"></div>
  
    <div class="grid-item" style="background-color: #75f321"></div>
    <div class="grid-item" style="background-color: #75f321"></div>
    <div class="grid-item" style="background-color: #75f321"></div>
    <div class="grid-item" style="background-color: #75f321"></div>
    <div class="grid-item" style="background-color: #75f321"></div>
    <div class="grid-item" style="background-color: #75f321"></div>
    <div class="grid-item" style="background-color: #75f321"></div>
    <div class="grid-item" style="background-color: #75f321"></div>
    <div class="grid-item" style="background-color: #75f321"></div>
    <div class="grid-item" style="background-color: #75f321"></div>
    <div class="grid-item" style="background-color: #75f321"></div>
    <div class="grid-item" style="background-color: #75f321"></div>
  
    <div class="grid-item" style="background-color: #891212"></div>
    <div class="grid-item" style="background-color: #891212"></div>
    <div class="grid-item" style="background-color: #891212"></div>
    <div class="grid-item" style="background-color: #891212"></div>
    <div class="grid-item" style="background-color: #891212"></div>
    <div class="grid-item" style="background-color: #891212"></div>
    <div class="grid-item" style="background-color: #891212"></div>
    <div class="grid-item" style="background-color: #891212"></div>
    <div class="grid-item" style="background-color: #891212"></div>
    <div class="grid-item" style="background-color: #891212"></div>
    <div class="grid-item" style="background-color: #891212"></div>
    <div class="grid-item" style="background-color: #891212"></div>
  
    <div class="grid-item" style="background-color: #000000"></div>
    <div class="grid-item" style="background-color: #000000"></div>
    <div class="grid-item" style="background-color: #000000"></div>
    <div class="grid-item" style="background-color: #000000"></div>
    <div class="grid-item" style="background-color: #000000"></div>
    <div class="grid-item" style="background-color: #000000"></div>
    <div class="grid-item" style="background-color: #000000"></div>
    <div class="grid-item" style="background-color: #000000"></div>
    <div class="grid-item" style="background-color: #000000"></div>
    <div class="grid-item" style="background-color: #000000"></div>
    <div class="grid-item" style="background-color: #000000"></div>
    <div class="grid-item" style="background-color: #000000"></div>
  
    <div class="grid-item" style="background-color: #742323"></div>
    <div class="grid-item" style="background-color: #742323"></div>
    <div class="grid-item" style="background-color: #742323"></div>
    <div class="grid-item" style="background-color: #742323"></div>
    <div class="grid-item" style="background-color: #742323"></div>
    <div class="grid-item" style="background-color: #742323"></div>
    <div class="grid-item" style="background-color: #742323"></div>
    <div class="grid-item" style="background-color: #742323"></div>
    <div class="grid-item" style="background-color: #742323"></div>
    <div class="grid-item" style="background-color: #742323"></div>
    <div class="grid-item" style="background-color: #742323"></div>
    <div class="grid-item" style="background-color: #742323"></div>
  
    <div class="grid-item" style="background-color: #d0ff00"></div>
    <div class="grid-item" style="background-color: #d0ff00"></div>
    <div class="grid-item" style="background-color: #d0ff00"></div>
    <div class="grid-item" style="background-color: #d0ff00"></div>
    <div class="grid-item" style="background-color: #d0ff00"></div>
    <div class="grid-item" style="background-color: #d0ff00"></div>
    <div class="grid-item" style="background-color: #d0ff00"></div>
    <div class="grid-item" style="background-color: #d0ff00"></div>
    <div class="grid-item" style="background-color: #d0ff00"></div>
    <div class="grid-item" style="background-color: #d0ff00"></div>
    <div class="grid-item" style="background-color: #d0ff00"></div>
    <div class="grid-item" style="background-color: #d0ff00"></div>
  
    <div class="grid-item" style="background-color: #1459fa"></div>
    <div class="grid-item" style="background-color: #1459fa"></div>
    <div class="grid-item" style="background-color: #1459fa"></div>
    <div class="grid-item" style="background-color: #1459fa"></div>
    <div class="grid-item" style="background-color: #1459fa"></div>
    <div class="grid-item" style="background-color: #1459fa"></div>
    <div class="grid-item" style="background-color: #1459fa"></div>
    <div class="grid-item" style="background-color: #1459fa"></div>
    <div class="grid-item" style="background-color: #1459fa"></div>
    <div class="grid-item" style="background-color: #1459fa"></div>
    <div class="grid-item" style="background-color: #1459fa"></div>
    <div class="grid-item" style="background-color: #1459fa"></div>
  
    <div class="grid-item" style="background-color: #ef00d8"></div>
    <div class="grid-item" style="background-color: #ef00d8"></div>
    <div class="grid-item" style="background-color: #ef00d8"></div>
    <div class="grid-item" style="background-color: #ef00d8"></div>
    <div class="grid-item" style="background-color: #ef00d8"></div>
    <div class="grid-item" style="background-color: #ef00d8"></div>
    <div class="grid-item" style="background-color: #ef00d8"></div>
    <div class="grid-item" style="background-color: #ef00d8"></div>
    <div class="grid-item" style="background-color: #ef00d8"></div>
    <div class="grid-item" style="background-color: #ef00d8"></div>
    <div class="grid-item" style="background-color: #ef00d8"></div>
    <div class="grid-item" style="background-color: #ef00d8"></div>
  
    <div class="grid-item" style="background-color: #07eaff"></div>
    <div class="grid-item" style="background-color: #07eaff"></div>
    <div class="grid-item" style="background-color: #07eaff"></div>
    <div class="grid-item" style="background-color: #07eaff"></div>
    <div class="grid-item" style="background-color: #07eaff"></div>
    <div class="grid-item" style="background-color: #07eaff"></div>
    <div class="grid-item" style="background-color: #07eaff"></div>
    <div class="grid-item" style="background-color: #07eaff"></div>
    <div class="grid-item" style="background-color: #07eaff"></div>
    <div class="grid-item" style="background-color: #07eaff"></div>
    <div class="grid-item" style="background-color: #07eaff"></div>
    <div class="grid-item" style="background-color: #07eaff"></div>
  
    <div class="grid-item" style="background-color: #ffbb00"></div>
    <div class="grid-item" style="background-color: #ffbb00"></div>
    <div class="grid-item" style="background-color: #ffbb00"></div>
    <div class="grid-item" style="background-color: #ffbb00"></div>
    <div class="grid-item" style="background-color: #ffbb00"></div>
    <div class="grid-item" style="background-color: #ffbb00"></div>
    <div class="grid-item" style="background-color: #ffbb00"></div>
    <div class="grid-item" style="background-color: #ffbb00"></div>
    <div class="grid-item" style="background-color: #ffbb00"></div>
    <div class="grid-item" style="background-color: #ffbb00"></div>
    <div class="grid-item" style="background-color: #ffbb00"></div>
    <div class="grid-item" style="background-color: #ffbb00"></div>
  
    <div class="grid-item" style="background-color: #00ff37"></div>
    <div class="grid-item" style="background-color: #00ff37"></div>
    <div class="grid-item" style="background-color: #00ff37"></div>
    <div class="grid-item" style="background-color: #00ff37"></div>
    <div class="grid-item" style="background-color: #00ff37"></div>
    <div class="grid-item" style="background-color: #00ff37"></div>
    <div class="grid-item" style="background-color: #00ff37"></div>
    <div class="grid-item" style="background-color: #00ff37"></div>
    <div class="grid-item" style="background-color: #00ff37"></div>
    <div class="grid-item" style="background-color: #00ff37"></div>
    <div class="grid-item" style="background-color: #00ff37"></div>
    <div class="grid-item" style="background-color: #00ff37"></div>
  
    <div class="grid-item" style="background-color: #aa7676"></div>
    <div class="grid-item" style="background-color: #aa7676"></div>
    <div class="grid-item" style="background-color: #aa7676"></div>
    <div class="grid-item" style="background-color: #aa7676"></div>
    <div class="grid-item" style="background-color: #aa7676"></div>
    <div class="grid-item" style="background-color: #aa7676"></div>
    <div class="grid-item" style="background-color: #aa7676"></div>
    <div class="grid-item" style="background-color: #aa7676"></div>
  
    <div class="grid-item" style="background-color: #aa7676"></div>
    <div class="grid-item" style="background-color: #aa7676"></div>
    <div class="grid-item" style="background-color: #aa7676"></div>
    <div class="grid-item" style="background-color: #aa7676"></div>
    <div class="grid-item" style="background-color: #aa7676"></div>
    <div class="grid-item" style="background-color: #aa7676"></div>
    <div class="grid-item" style="background-color: #aa7676"></div>
    <div class="grid-item" style="background-color: #aa7676"></div>
  
    <div class="grid-item" style="background-color: #4d1044"></div>
    <div class="grid-item" style="background-color: #4d1044"></div>
    <div class="grid-item" style="background-color: #4d1044"></div>
    <div class="grid-item" style="background-color: #4d1044"></div>
    <div class="grid-item" style="background-color: #4d1044"></div>
    <div class="grid-item" style="background-color: #4d1044"></div>
    <div class="grid-item" style="background-color: #4d1044"></div>
    <div class="grid-item" style="background-color: #4d1044"></div>
    <div class="grid-item" style="background-color: #4d1044"></div>
    <div class="grid-item" style="background-color: #4d1044"></div>
    <div class="grid-item" style="background-color: #4d1044"></div>
    <div class="grid-item" style="background-color: #4d1044"></div>
    <div class="grid-item" style="background-color: #4d1044"></div>
    <div class="grid-item" style="background-color: #4d1044"></div>
  
  
  </div>
  