<div class="card-container">

    <p-card header="Diddy" subheader="Leonardo DiCaprio" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://estaticos-cdn.prensaiberica.es/clip/e149c608-68d3-41d1-b73d-ebcc13e393e3_source-aspect-ratio_default_0.jpg" />
      </ng-template>
      <p>
        La imagen más comentada de Leonardo DiCaprio, escondido, tras saberse lo de las fiestas de 'Diddy'.
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="SI" severity="secondary"></p-button>
          <p-button label="NO"></p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="Diddy" subheader="Leonardo DiCaprio" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://estaticos-cdn.prensaiberica.es/clip/e149c608-68d3-41d1-b73d-ebcc13e393e3_source-aspect-ratio_default_0.jpg" />
      </ng-template>
      <p>
        La imagen más comentada de Leonardo DiCaprio, escondido, tras saberse lo de las fiestas de 'Diddy'.
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="SI" severity="secondary"></p-button>
          <p-button label="NO"></p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="Diddy" subheader="Leonardo DiCaprio" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://estaticos-cdn.prensaiberica.es/clip/e149c608-68d3-41d1-b73d-ebcc13e393e3_source-aspect-ratio_default_0.jpg" />
      </ng-template>
      <p>
        La imagen más comentada de Leonardo DiCaprio, escondido, tras saberse lo de las fiestas de 'Diddy'.
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="SI" severity="secondary"></p-button>
          <p-button label="NO"></p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="Diddy" subheader="Leonardo DiCaprio" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://estaticos-cdn.prensaiberica.es/clip/e149c608-68d3-41d1-b73d-ebcc13e393e3_source-aspect-ratio_default_0.jpg" />
      </ng-template>
      <p>
        La imagen más comentada de Leonardo DiCaprio, escondido, tras saberse lo de las fiestas de 'Diddy'.
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="SI" severity="secondary"></p-button>
          <p-button label="NO"></p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="Diddy" subheader="Leonardo DiCaprio" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://estaticos-cdn.prensaiberica.es/clip/e149c608-68d3-41d1-b73d-ebcc13e393e3_source-aspect-ratio_default_0.jpg" />
      </ng-template>
      <p>
        La imagen más comentada de Leonardo DiCaprio, escondido, tras saberse lo de las fiestas de 'Diddy'.
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="SI" severity="secondary"></p-button>
          <p-button label="NO"></p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="Diddy" subheader="Leonardo DiCaprio" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://estaticos-cdn.prensaiberica.es/clip/e149c608-68d3-41d1-b73d-ebcc13e393e3_source-aspect-ratio_default_0.jpg" />
      </ng-template>
      <p>
        La imagen más comentada de Leonardo DiCaprio, escondido, tras saberse lo de las fiestas de 'Diddy'.
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="SI" severity="secondary"></p-button>
          <p-button label="NO"></p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="Diddy" subheader="Leonardo DiCaprio" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://estaticos-cdn.prensaiberica.es/clip/e149c608-68d3-41d1-b73d-ebcc13e393e3_source-aspect-ratio_default_0.jpg" />
      </ng-template>
      <p>
        La imagen más comentada de Leonardo DiCaprio, escondido, tras saberse lo de las fiestas de 'Diddy'.
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="SI" severity="secondary"></p-button>
          <p-button label="NO"></p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="Diddy" subheader="Leonardo DiCaprio" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://estaticos-cdn.prensaiberica.es/clip/e149c608-68d3-41d1-b73d-ebcc13e393e3_source-aspect-ratio_default_0.jpg" />
      </ng-template>
      <p>
        La imagen más comentada de Leonardo DiCaprio, escondido, tras saberse lo de las fiestas de 'Diddy'.
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="SI" severity="secondary"></p-button>
          <p-button label="NO"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
  