
.login-container {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.login-card {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(81, 82, 82, 0.7);
  border: 2px solid #2b3a34;
  padding: 20px;
  width: 400px;
  backdrop-filter: blur(10px);
  animation: glowing 2s infinite ease-in-out;
}


.login-input {
  background-color: #ffffff;
  border: 1px solid #444;
  color: #000000;
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 255, 153, 0.7);
  transition: all 0.3s ease-in-out;
}


.login-input:focus {
  outline: none;
  border: 1px solid #00ff99;
  box-shadow: 0 0 10px rgba(0, 255, 153, 0.7);
}


.login-label {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}


.login-button {
  background: linear-gradient(45deg, #00ff99, #00cc7a);
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 255, 153, 0.7);
}


.login-button:hover {
  background: linear-gradient(45deg, #00cc7a, #00ff99);
  transform: scale(1.05);
}


.login-button:active {
  transform: scale(0.98);
}


.p-message {
  font-size: 1rem;
  color: #ff4c4c;
  font-weight: bold;
  margin-top: 10px;
}
