<p-button label="regresar" (click)="navigateTo('/home')"></p-button>
<p></p>
<div class="card-container">
    <p-card header="LA LUNA" subheader="El hombre pisando la Luna por primera vez" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i.pinimg.com/736x/00/46/25/0046253b7e05ba64254ef8c2af9c6dc8.jpg" />
      </ng-template>
      <p>
        Cuando Neil Armstrong, Buzz Aldrin y Michael Collins llegaron a la Luna a bordo del Apolo 11 sabían de sobra que iban a pasar a formar parte de los libros de historia      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="ENVIAR" severity="secondary"></p-button>
          <p-button label="CANCELAR"></p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="LA LUNA" subheader="El hombre pisando la Luna por primera vez" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i.pinimg.com/736x/00/46/25/0046253b7e05ba64254ef8c2af9c6dc8.jpg" />
      </ng-template>
      <p>
        Cuando Neil Armstrong, Buzz Aldrin y Michael Collins llegaron a la Luna a bordo del Apolo 11 sabían de sobra que iban a pasar a formar parte de los libros de historia      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="ENVIAR" severity="secondary"></p-button>
          <p-button label="CANCELAR"></p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="LA LUNA" subheader="El hombre pisando la Luna por primera vez" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i.pinimg.com/736x/00/46/25/0046253b7e05ba64254ef8c2af9c6dc8.jpg" />
      </ng-template>
      <p>
        Cuando Neil Armstrong, Buzz Aldrin y Michael Collins llegaron a la Luna a bordo del Apolo 11 sabían de sobra que iban a pasar a formar parte de los libros de historia      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="ENVIAR" severity="secondary"></p-button>
          <p-button label="CANCELAR"></p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="LA LUNA" subheader="El hombre pisando la Luna por primera vez" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i.pinimg.com/736x/00/46/25/0046253b7e05ba64254ef8c2af9c6dc8.jpg" />
      </ng-template>
      <p>
        Cuando Neil Armstrong, Buzz Aldrin y Michael Collins llegaron a la Luna a bordo del Apolo 11 sabían de sobra que iban a pasar a formar parte de los libros de historia      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="ENVIAR" severity="secondary"></p-button>
          <p-button label="CANCELAR"></p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="LA LUNA" subheader="El hombre pisando la Luna por primera vez" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i.pinimg.com/736x/00/46/25/0046253b7e05ba64254ef8c2af9c6dc8.jpg" />
      </ng-template>
      <p>
        Cuando Neil Armstrong, Buzz Aldrin y Michael Collins llegaron a la Luna a bordo del Apolo 11 sabían de sobra que iban a pasar a formar parte de los libros de historia      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="ENVIAR" severity="secondary"></p-button>
          <p-button label="CANCELAR"></p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="LA LUNA" subheader="El hombre pisando la Luna por primera vez" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i.pinimg.com/736x/00/46/25/0046253b7e05ba64254ef8c2af9c6dc8.jpg" />
      </ng-template>
      <p>
        Cuando Neil Armstrong, Buzz Aldrin y Michael Collins llegaron a la Luna a bordo del Apolo 11 sabían de sobra que iban a pasar a formar parte de los libros de historia      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="ENVIAR" severity="secondary"></p-button>
          <p-button label="CANCELAR"></p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="LA LUNA" subheader="El hombre pisando la Luna por primera vez" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i.pinimg.com/736x/00/46/25/0046253b7e05ba64254ef8c2af9c6dc8.jpg" />
      </ng-template>
      <p>
        Cuando Neil Armstrong, Buzz Aldrin y Michael Collins llegaron a la Luna a bordo del Apolo 11 sabían de sobra que iban a pasar a formar parte de los libros de historia      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="ENVIAR" severity="secondary"></p-button>
          <p-button label="CANCELAR"></p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="LA LUNA" subheader="El hombre pisando la Luna por primera vez" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i.pinimg.com/736x/00/46/25/0046253b7e05ba64254ef8c2af9c6dc8.jpg" />
      </ng-template>
      <p>
        Cuando Neil Armstrong, Buzz Aldrin y Michael Collins llegaron a la Luna a bordo del Apolo 11 sabían de sobra que iban a pasar a formar parte de los libros de historia      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="ENVIAR" severity="secondary"></p-button>
          <p-button label="CANCELAR"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
  