<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/primeflex@latest/primeflex.css">
    <title>Matriz 4x4</title>
</head>
<body>
    <h1>Matrix 3x3</h1>
    <p-button label="regresar" (click)="navigateTo('/home')"></p-button>
    <p>

    <p-button label="3x3" (click)="navigateTo('/3x3')"></p-button>

    <p-button label="4x4" (click)="navigateTo('/4x4')"></p-button>
    
    <p-button label="5x5" (click)="navigateTo('/5x5')"></p-button>

    <p-button label="6x6" (click)="navigateTo('/6x6')"></p-button>

  
    <div class="grid grid-nogutter p-2 gap-1 justify-content-center align-items-center" style="height: 40vh;">
        <div class="col-3">
            <div class="block bg-primary font-bold text-center p-3 border-round mb-2">1</div>
        </div>
        <div class="col-3">
            <div class="block bg-primary font-bold text-center p-3 border-round mb-2">2</div>
        </div>
        <div class="col-3">
            <div class="block bg-primary font-bold text-center p-3 border-round mb-2">3</div>
        </div>
        <div class="col-3">
            <div class="block bg-primary font-bold text-center p-3 border-round mb-2">4</div>
        </div>

        <div class="col-3">
            <div class="block bg-primary font-bold text-center p-3 border-round mb-2">5</div>
        </div>
        <div class="col-3">
            <div class="block bg-primary font-bold text-center p-3 border-round mb-2">6</div>
        </div>
        <div class="col-3">
            <div class="block bg-primary font-bold text-center p-3 border-round mb-2">7</div>
        </div>
        <div class="col-3">
            <div class="block bg-primary font-bold text-center p-3 border-round mb-2">8</div>
        </div>
        <div class="col-3">
            <div class="block bg-primary font-bold text-center p-3 border-round mb-2">9</div>
        </div>
    </div>
</body>
</html>
