<div class="flex flex-column align-items-center">
  <h1 class="text-center">Deberes</h1>
  <h2 class="text-center">Nombre: Jordy Sanchez</h2>
  <h2 class="text-center">Curso: 3 "B" "DS"</h2>

  <div class="card-container">
    <p-card header="DEBER 1"subheader="Figma">
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <a href="https://www.figma.com/design/yH3WIwBcuuL6uFKxqrHWY5/Login-Page-UI-(Community)?node-id=0-1&node-type=canvas&t=lMXp7BdwlU153Dn1-0">
            <p-button label="IR"></p-button>
          </a>
        </div>
      </ng-template>
    </p-card>

    <p-card header="DEBER 2" subheader="Matrices">
      <ng-template pTemplate="footer" >
        <div class="flex gap-3 mt-1">
          <p-button label="IR" (click)="navigateTo('/3x3')"></p-button>
        </div>
      </ng-template>
    </p-card>

    <p-card header="DEBER 3" subheader="Posiciones">
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="IR" (click)="navigateTo('/DEBER3')"></p-button>
        </div>
      </ng-template>
    </p-card>

    <p-card header="DEBER 4"subheader="Card">
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="IR" (click)="navigateTo('/DEBER4')"></p-button>
        </div>
      </ng-template>
    </p-card>

    <p-card header="DEBER 5"subheader="Formulario">
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="IR" (click)="navigateTo('/formulario')"></p-button>
        </div>
      </ng-template>
    </p-card>

    <p-card header="DEBER 6"subheader="Carrucel y Galeria">
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="IR" (click)="navigateTo('/carrucel')"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
