<div class="flex flex-column h-screen">

  <!-- Encabezado -->
  <p-toolbar class="mb-3">
    <div class="p-toolbar-group-left">
      <span class="text-2xl font-bold">RIOT GAME</span>
    </div>
    <div class="p-toolbar-group-right">
      <button pButton label="Iniciar Sesión" class="p-button-text" (click)="navigateTo('/carrucel')"></button>

    </div>
  </p-toolbar>

  <!-- Carrusel de Bienvenida -->
  <div class="flex justify-content-center mb-4">
    <p-carousel 
      [value]="images" 
      [numVisible]="1" 
      [numScroll]="1" 
      [circular]="true" 
      [autoplayInterval]="5000"
      styleClass="custom-carousel"
    >
      <ng-template pTemplate="item" let-image>
        <img [src]="image" alt="Image" class="carousel-image">
      </ng-template>
    </p-carousel>
  </div>
  
  

  <!-- Sección de características -->
  <div class="flex justify-content-center mb-4">
    <div class="grid">
      <div class="col-12 md:col-4" *ngFor="let feature of features">
        <p-card class="h-full">
          <ng-template pTemplate="header">
            <i [class]="feature.icon + ' text-4xl text-primary'"></i>
          </ng-template>
          <h2>{{ feature.title }}</h2>
          <p>{{ feature.description }}</p>
        </p-card>
      </div>
    </div>
  </div>

  <!-- Pie de página -->
  <p-divider></p-divider>
  <div class="text-center py-2">
    <p>© 2024 Mi Aplicación. Todos los derechos reservados.</p>
  </div>
</div>
